<body>
    <header id="head" class="secondary">
        <div class="container">
            <h1>Prices and Tuition payment options</h1>
            <p>Prices are dependant on school year of child</p>
        </div>
    </header>


  <!-- container -->
  <div class="container">
    <div class="row">
      <!-- Article content -->
      <section class="col-sm-12 maincontent">
        <h2>Pre-K:</h2>
        <h4>
          $75 - Month
        </h4>

      </section>
    </div>
  </div>
  <!-- /container -->

  <section class="container">
    <div class="heading">
      <!-- Heading -->
      <h2>Preschool</h2>
      <h4>$65 - Month</h4>
      <br />
    </div>

  <section class="container">
    <div class="heading">
      <!-- Heading -->
      <h1>Schedule : </h1>
      <br />
    </div>
    <div class="row flat">
      <div class="col-lg-4 col-md-4 col-xs-6">
        <ul class="plan plan2">
          <li class="plan-name">Monday
          </li>
          <li class="plan-price">
            <strong>3 yr old:</strong> 
          </li>
          <li>
            <strong>9:30 am - 11:30 am</strong>
          </li>
          <li>
            <strong>Pre-K</strong>
          </li>
          <li>
           <strong>12:30 pm - 2:30 pm</strong>
          </li>
          <li class="plan-action">
            <a href="/#/forms" class="btn">Signup</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4 col-xs-6">
        <ul class="plan plan3">
          <li class="plan-name">Tuesday
          </li>
          <li class="plan-price">
            <strong>3 yr old:</strong> 
          </li>
          <li>
            <strong>9:30 am - 11:30 am</strong>
          </li>
          <li>
            <strong>Pre-K</strong>
          </li>
          <li>
           <strong>12:30 pm - 2:30 pm</strong>
          </li>
          <li class="plan-action">
            <a href="/#/forms" class="btn">Signup</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4 col-xs-6">
        <ul class="plan plan4">
          <li class="plan-name">Wednesday
          </li>
          <li class="plan-price">
            <strong>3 yr old:</strong> 
          </li>
          <li>
            <strong>9:30 am - 11:30 am</strong>
          </li>
          <li>
            <strong>Pre-K</strong>
          </li>
          <li>
           <strong>12:30 pm - 2:30 pm</strong>
          </li>
          <li class="plan-action">
            <a href="/#/forms" class="btn">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="heading">
      <!-- Heading -->
    </div>
    <div class="row flat">
      <div class="col-lg-4 col-md-4 col-xs-6">
        <ul class="plan plan1">
          <li class="plan-name">Thursday
          </li>
          <li class="plan-price">
            <strong>3 yr old:</strong> 
          </li>
          <li>
            <strong>9:30 am - 11:30 am</strong>
          </li>
          <li>
            <strong>Pre-K</strong>
          </li>
          <li>
           <strong>12:30 pm - 2:30 pm</strong>
          </li>
          <li class="plan-action">
            <a href="/#/forms" class="btn">Signup</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4 col-xs-6">
        <ul class="plan plan2">
          <li class="plan-name">Friday
          </li>
          <li class="plan-price">
            <strong> 3 yr old: </strong> 
          </li>
          <li>
            <strong> 9:30 am - 11:30 am </strong>
          </li>
          <li>
            <strong> Pre-K </strong>
          </li>
          <li>
           <strong> 12:30 pm - 2:30 pm </strong>
          </li>
          <li class="plan-action">
            <a href="/#/forms" class="btn">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section> 
    <heading>
      <h1> Tuition Options: </h1>
    </heading>
    <div class="row flat">
      <div class="col-lg-4 col-md-4 col-xs-6">
        <ul class="pricing-options">
        <h3><u>Cash App Me!</u></h3> 
        <br>
          <li> <a href="https://cash.me"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50">
            <path fill="#28C101" d="M17.432,0h15.135c5.021,0,7.529,0,10.231,0.854c2.95,1.074,5.273,3.397,6.348,6.347 C50,9.903,50,12.412,50,17.432v15.136c0,5.019,0,7.528-0.854,10.23c-1.074,2.949-3.397,5.273-6.348,6.347 C40.097,50,37.588,50,32.567,50H17.432c-5.02,0-7.529,0-10.231-0.854c-2.95-1.073-5.273-3.397-6.347-6.347 C0,40.097,0,37.587,0,32.568V17.432c0-5.02,0-7.529,0.854-10.231c1.074-2.95,3.397-5.273,6.347-6.347C9.903,0,12.413,0,17.432,0 L17.432,0"></path>
            <path fill="#FFFFFF" d="M32.305,15.826c-1.377-1.735-3.167-2.873-5.532-3.229v10.718 c4.085,1.193,8.017,2.896,8.017,8.229c0,4.572-2.817,7.988-8.017,8.375v2.164h-1.634l-0.87,0.004v-2.219 c-3.932-0.329-7.195-2.111-9.058-4.915l2.359-1.567c1.78,2.681,4.381,3.784,6.699,4.031l-0.001-11.809 c-3.973-1.072-8.271-2.692-8.271-7.886c0-4.864,3.845-7.543,8.274-7.832V7.92l0,0V7.917h2.5v2.014 c3.227,0.328,5.773,1.858,7.643,4.246L32.305,15.826z M24.269,12.535c-3.062,0.206-5.457,1.93-5.457,5.022 c0,3.133,2.725,4.369,5.457,5.112V12.535z M32.052,31.626c0-3.169-1.741-4.261-5.279-5.357v11.125 C30.192,37.094,32.052,34.917,32.052,31.626z"></path>
            </svg></a>
          </li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6">
        <ul class="pricing-options">
            <div class="text">
              <h3><u>Mail or Drop off a check</u></h3><br>
              Make check payable to:<br>
              <br>
              <strong>The Ranches Presschool</strong><br>  
              <br>
              Mail or drop off at: <br>
              <br>
              <strong>7775 Tinamous Rd </strong><br>
              <strong>Eagle Mountain, UT 84005 </strong><br>
            </div>
        </ul>
    </div>
  </section>
</body>




















<!-- <section id="calendar">
	<div class="container">

			<div class="page-header text-center">       
				<h1>Schedule With Miss Katie</h1>        
			</div>

	  <p class="text-center">Would you like to meet with Miss Katie?<br><strong class="text-info">Select an available time below</strong></p>
  
  <div class="row times">
    
    <div class="col-xs-4 text-center" ng-repeat="day in days">
              
      <h2>{{ day.name }}</h2>
      
      <div class="time-slot" ng-repeat="slot in day.slots">    	
        <input type="checkbox" id="{{ day.name }}-{{ $index }}" ng-model="slot.booked" ng-disabled="slot.booked">
        <label for="{{ day.name }}-{{ $index }}">{{ slot.time }}<br>
          <span ng-if="slot.booked">Booked</span>
          <span ng-if="!slot.booked">Available</span>
        </label>
      </div>
    </div>       
      
  </div>    
 
  
  <p class="text-center">    
    <a href="#" ng-click="reset()" class="btn btn-primary">Reset</a>
  </p>
</div>


</section> -->